version: "3.7"

services:
  api:
    image: normandiabuscarid/pdf-gravity-api:latest
    networks:
      - buscarIDnet
    environment:
      - PORT=8000
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.pdfgravity-api.rule=Host(`htmltopdf.buscarid.com`) && PathPrefix(`/api`)
        - traefik.http.routers.pdfgravity-api.entrypoints=websecure
        - traefik.http.routers.pdfgravity-api.tls.certresolver=letsencryptresolver
        - traefik.http.routers.pdfgravity-api.service=pdfgravity-api
        - traefik.http.services.pdfgravity-api.loadbalancer.server.port=8000

  web:
    image: normandiabuscarid/pdf-gravity-web:latest
    networks:
      - buscarIDnet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.pdfgravity-web.rule=Host(`htmltopdf.buscarid.com`)
        - traefik.http.routers.pdfgravity-web.entrypoints=websecure
        - traefik.http.routers.pdfgravity-web.priority=1
        - traefik.http.routers.pdfgravity-web.tls.certresolver=letsencryptresolver
        - traefik.http.routers.pdfgravity-web.service=pdfgravity-web
        - traefik.http.services.pdfgravity-web.loadbalancer.server.port=80

networks:
  buscarIDnet:
    external: true
